<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Review</title>
</head>

<body>
    <br>
    <form action="/movie" method="post">
        Movie / TV Show: <input type="text" name="movie" placeholder="enter a movie name">
        <button type="submit">Submit</button>
    </form>
    <br>
    <img src="{{ poster }}" alt="movie poster">
    <p>Title of the movie: {{ title }}</p>
    <p>Released date: {{ released }}</p>
    <p>Movie plot: <b>{{ plot }}</b></p>
</body>

</html>